* {
	box-sizing: border-box;
}
h3,h4,h5 {
color: rgb(88,24,13);
}
:root{
	--sidebar: 301px;
}
body { 
	font-family: Tahoma;
}
p {
	text-align: justify;
}
h1, h2, h3 {
	border-bottom: 1px solid #aaaaaa;
	max-width: 50em;
}
img {
	float:right;
	height: 20em;
	margin-left: 2em;
}
.rules {
	overflow: auto;
}
.left {
	position: fixed;
	height: 100%;
	width: var(--sidebar);
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x:hidden;
}
.left a {
	text-decoration: none;
	font-size: 14px;
	display: block;
	color: black;
	border-bottom: none;
	height: 15px;
}
a { 
    text-decoration: none;
    color: black;
    border-bottom: 1px grey dotted;
}
.center {
	margin-left: calc(var(--sidebar) + 20px);
	padding: 0 10px;
	max-width: 100em;
}
.center p, .center ol, .center ul {
	max-width: 50em;
}
@media only screen and (max-width: 720px) {
	.left {
		position: static;
	}
	.center {
		margin:auto;
		max-width: 100vw;
	}
	nav li ul {
		display: none;
	}
}
td, tr, th, tbody{
	border-bottom: 1px solid black;
	padding: 3px;
	padding-left:12px;
}
th {
	padding: 10px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
.personal td, .personal th {
	/*text-align: center;*/
}
.personal .roll tr td:first-child, .personal .roll tr th:first-child {
	text-align: right;
}
.personal .roll tr td:last-child, .personal .roll tr th:last-child {
	text-align: center;
}
hr {
	margin-top: 3em;
	margin-bottom: 3em;
}
.equipment td, .equipment th{
	text-align:center;
}
.equipment table{
	overflow-x: visible;
}
.equipment td:first-child, .equipment td:last-child{
	text-align:left;
}
.power_type, .spell_action, .spell_range{
	font-style: italic;
}
.power_title, .stat_title, .spell_title {
	font-weight: bold;
}
.spell p {
	margin-left: 1em;
}
.power_text {
}
.power, .statblock, .wand, .circle_magic{
	border: 1px solid grey;
	padding: 12px;
	margin-bottom: .5em;
	margin-left: 6px;
	margin-right: 6px;
	max-width: 36em;
}
.power div, .statblock div, .spell div{
	margin-bottom: .3em;
}
div.spell {
	border-top: 1px solid black;
	padding-top: 1em;
}
.wand h3 {
	border-bottom: none;
	margin-top: 0em;
}
div.maneuvers, div.stats{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 60em;
}
.combat div.maneuvers, .combat div.stats{
	grid-template-columns: repeat(1, 1fr);
	max-width: 60em;
}
.even {
	background-color: #cccccc;
}
.right-spacer {
	width: 50%;
	display: inline-block;
}
table.text_table {
	text-align: left;
}
table.text_table .even {
	background-color: initial;
}
table.class_table {
	text-align: center;
}
table ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
table.puny {
	max-width: 10em;
}
table.tiny {
	max-width: 20em;
}
table.small {
	max-width: 30em;
}
table.medium {
	max-width: 40em;
}
table.large {
	max-width: 50em;
}
